
.pageDiv {
  background-color: white;
  height: 100%;
}

.bodyDiv {
  padding: 20px;
  height: 1200px;
}

.grabber-test {
  position: relative;
  height: 200px;
  min-height: 100px;
  min-width: 300px;
  border: 1px solid darkgray;
  
  margin: 20px;
  background-color: #fff6d8;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
}

.example-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 24px;
}

.widgetEdge {

  position: absolute;
  display: block;
  overflow: hidden;
  
  top: 20px;
  bottom: 20px;
  right: 0px;

  min-width: 10px;
  background-color: transparent;
}

.widgetFooter {

  position: absolute;
  display: block;
  overflow: hidden;
  
  left: 20px;
  right: 20px;
  bottom: 0px;
  min-height: 10px;
  
  background-color: transparent;
}

.widgetCorner {

  position: absolute;
  display: block;
  overflow: hidden;
  
  right: 0px;
  bottom: 0px;
  min-height: 20px;
  min-width: 20px;
  
  background-color: transparent;
}
